h3 {
    font-family: Salsa;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

#container {
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0;
}

.btn-play {
    background-color: #a2ee9a;
    font-family: Salsa;
    font-size: 40px;
    border-radius: 0 !important;
}

.btn-play:hover {
    color:#fff;
    background-color: #00B2A8
}

.btn-reset {
    background-color: #f7786b;
    font-family: Salsa;
    font-size: 40px;
    border-radius: 0 !important;
}

.btn-reset:hover {
    color:#fff;
    background-color: #00B2A8
}

.btn-help {
    background-color: #84bce2;
    font-family: Salsa;
    font-size: 40px;
    border-radius: 0 !important;
}

.btn-help:hover {
    color:#fff;
    background-color: #00B2A8
}

.leftmenu {
    background-color: #d9eff7;
}

.title {
    background-color: #92a8d1;
}

.imgrobot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
